nav{
   display: flex;
   align-items: center;
   justify-content: space-between;
   background: #900C3F ;
   height: 8vh;
   padding: 1vh;
}
.nav-items {
    display:flex;
    list-style: none;
    text-align: center;
    width: 70 vw;
    justify-content: flex-end;
    margin-right: 2rem;
}

.nav-item{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

.navit{
    height:10vh;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: large;
    font-weight: 600;
    color: #fff;
    transition: 0.15s ease-in-out;
}

.navit:hover,
.navit.active{
    color: #FFFF8F;
}

.navit:hover::after,
.navit.active::after{
    content:"";
    width:50%;
    height: 2px;
    background: #FFFF8F;
    position: absolute;
    bottom: 0px;
    left:20px;
}

#logins{
    display: flex;
    align-items:end;
    justify-content: space-between;
}

#logins li{
    list-style: none;
    padding: 0 10px;
    position: relative;
}

#logins li a{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: #fff;
    transition: 0.15s ease-in-out;
}
